<h1>Questions</h1>

<ul>
  <% @questions.each do |question| %>

 <div class="collection">
    <h2><form action="users/<%= current_user.id %>/votes" method='post'>
        <input type='hidden' name="vote[voteable_id]" value="<% question.id %>">
        <input type='hidden' name="vote[voteable_type]" value="question">
        <input id="upvote" type="submit" value='upvote'>
      </form>

<form action="users/<%= current_user.id %>/votes" method='post'>
        <input type='hidden' name="_method" value="delete">
        <input type='hidden' name="vote[voteable_id]" value="<%= question.id %>">
        <input type='hidden' name="vote[user_id]" value="<%= question.user_id %>">
        <input type='hidden' name="vote[voteable_type]" value="question">
        <input id="downvote" type="submit" value='downvote'>
      </form>
        <p><%= question.votes.count %></p><a href="/questions/<%= question.id %>" > <%= question.title %></a></h2>

    </div>
<% end %>

</ul>
