<div class="row">
  <h1 class="box">Questions</h1>
</div>

<ul>
  <% @questions.each do |question| %>
  <li class="question-list">
   <div class="votes">
      <form action="users/<%= current_user.id %>/votes" method='post'>
          <input type='hidden' name="vote[user_id]" value="<%= current_user.id %>">
          <input type='hidden' name="vote[voteable_id]" value="<%= question.id %>">
          <input type='hidden' name="vote[value]" value="1">
          <input type='hidden' name="vote[voteable_type]" value="Question">
          <button type="submit"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
        </form>
        <h4 class="white-text"><%= question.show_score %></h4>
        <form action="users/<%= current_user.id %>/votes" method='post'>
          <input type='hidden' name="vote[user_id]" value="<%= current_user.id %>">
          <input type='hidden' name="vote[voteable_id]" value="<%= question.id %>">
          <input type='hidden' name="vote[value]" value="-1">
          <input type='hidden' name="vote[voteable_type]" value="Question">
          <button type="submit"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
        </form>
    </div>
    <tr>
      <div class="question-show">
        <h6><a href="/questions/<%= question.id %>" > <%= question.title %></a></h2>
      </div>
    </tr>
  </li>
  <br>
  <br>
<% end %>
</ul>
