<h1>Questions</h1>

<ul>
  <% @questions.each do |question| %>

 <div class="collection">
    <h2><form action="users/<%= current_user.id %>/votes" method='post'>
        <input type='hidden' name="vote[user_id]" value="<%= current_user.id %>">
        <input type='hidden' name="vote[voteable_id]" value="<%= question.id %>">
        <input type='hidden' name="vote[value]" value="1">
        <input type='hidden' name="vote[voteable_type]" value="Question">
        <input type="@submit" value='upvote'>
      </form>

<form action="users/<%= current_user.id %>/votes" method='post'>
        <input type='hidden' name="vote[user_id]" value="<%= current_user.id %>">
        <input type='hidden' name="vote[voteable_id]" value="<%= question.id %>">
        <input type='hidden' name="vote[value]" value="-1">
        <input type='hidden' name="vote[voteable_type]" value="Question">
        <input type="submit" value='downvote'>
      </form>
        <%= question.show_score %><a href="/questions/<%= question.id %>" > <%= question.title %></a></h2>

    </div>
    <% end %>

</ul>
