<h1><%= @question.title %></h1>
<p><%= @question.text %></p>
<% if current_user.id == @question.user_id %>
<a href="/questions/<%= @question.id %>/edit">Edit question</a>
<form action="/questions/<%= @question.id %>" method="post">
  <input type='hidden' name="_method" value="delete">
  <input type="submit" value="Delete Question">
</form>
<% end %>
<p><% @question.answers.each do |answer| %>

  <div>
      <div class="answers">
    
<form action="/users/<%= current_user.id %>/votes" method='post'>
    <input type='hidden' name="vote[voteable_id]" value="<%= answer.id %>">
    <input type='hidden' name="vote[voteable_type]" value="answer">
    <input type="submit" value='upvote'>
      </form>
<form action="/users/<%= current_user.id %>/votes" method='post'>
        <input type='hidden' name="_method" value="delete">
        <input type='hidden' name="vote[voteable_id]" value="<%= answer.id %>">
        <input type='hidden' name="vote[user_id]" value="<%= answer.user_id %>">
        <input type='hidden' name="vote[voteable_type]" value="answer">
        <input type="submit" value='downvote'>
      </form>
            <div class="answer-text">
    <%= answer.votes.count %>
    <%= answer.text %>
                  </div>
    <% if current_user.id == answer.user_id %>
      <a href="/questions/<%= @question.id %>/answers/<%= answer.id %>/edit">Edit Answer</a>
      <form action="/questions/<%= @question.id %>/answers/<%= answer.id %>" method="post">
        <input type='hidden' name="_method" value="delete">
        <input type="submit" value="Delete Answer">
      </form>
    </div>
    <% end %>
  </div>
<% end %>

<div class="submit-answer">
  <form action="/questions/<%= @question.id %>/answers" method="post">
    <label>Give an Answer:
    <textarea class="answer-form" cols="50" rows="10" name="answer[text]"></textarea>
    </label>
    <input type="hidden" name="answer[question_id]" value="<%= @question.id %>">
    <input type="submit" value="Add Answer">
  </form>
</div>
