<h1><%= @question.title %></h1>
<p><%= @question.text %></p>
<form action="/comments" method="post">
  <label class="white">Comment:</label>
    <input type='hidden' name="comment[user_id]" value="<%= current_user.id %>">
    <input type='hidden' name="comment[commentable_id]" value="<%= @question.id %>">
    <input type='hidden' name="vote[commentable_type]" value="Question">
  <input type="comment[body]" name="comment[body]" ><br>
  <input type="submit" value="Submit Comment">
</form>

<% if current_user.id == @question.user_id %>
<a href="/questions/<%= @question.id %>/edit">Edit question</a>
<form action="/questions/<%= @question.id %>" method="post">
  <input type='hidden' name="_method" value="delete">
  <input type="submit" value="Delete Question">
</form>
<% end %>

<p><% @question.answers.each do |answer| %>

  <div>
      <div class="answers">

<form action="/users/<%= current_user.id %>/votes" method='post'>
    <input type='hidden' name="vote[user_id]" value="<%= current_user.id %>">
    <input type='hidden' name="vote[voteable_id]" value="<%= answer.id %>">
    <input type='hidden' name="vote[voteable_type]" value="Answer">
    <input type='hidden' name="vote[value]" value="1">
    <button type="submit"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
      </form>
<form action="/users/<%= current_user.id %>/votes" method='post'>
        <input type='hidden' name="vote[voteable_id]" value="<%= answer.id %>">
        <input type='hidden' name="vote[user_id]" value="<%= current_user.id %>">
        <input type='hidden' name="vote[value]" value="-1">
        <input type='hidden' name="vote[voteable_type]" value="Answer">
        <button type="submit"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
      </form>
            <div class="answer-text">
    <%= answer.show_score %>
    <%= answer.text %>
                  </div>
<form action="/comments" method="post">
  AComment:<br>
    <input type='hidden' name="comment[user_id]" value="<%= current_user.id %>">
    <input type='hidden' name="comment[commentable_id]" value="<%= answer.id %>">
    <input type='hidden' name="vote[commentable_type]" value="Question">
  <input type="comment[body]" name="comment[body]" ><br>
  <input type="submit" value="Submit Comment">
</form>


    <% if current_user.id == answer.user_id %>
      <a class="question_form" href="/questions/<%= @question.id %>/answers/<%= answer.id %>/edit">Edit Answer</a>
      <form class="question_form" action="/questions/<%= @question.id %>/answers/<%= answer.id %>" method="post">
        <input type='hidden' name="_method" value="delete">
        <input type="submit" value="Delete Answer">
      </form>
    <% end %>
<% end %>

<div class="submit-answer">
  <form action="/questions/<%= @question.id %>/answers" method="post">
    <label>Give an Answer:
    <textarea class="answer-form" cols="50" rows="10" name="answer[text]"></textarea>
    </label>
    <input type="hidden" name="answer[question_id]" value="<%= @question.id %>">
    <input class="black" type="submit" value="Add Answer">
  </form>
</div>
